@page
@model WebSolution.Pages.Orders.EditModel

@{
    ViewData["Title"] = "Edit an Order";
}

<h1>Edit an Order</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ORDERS.ORDER_ID" />
            <div class="form-group">
                <label asp-for="ORDERS.RENTAL_DATE" class="control-label"></label>
                <input asp-for="ORDERS.RENTAL_DATE" class="form-control" />
                <span asp-validation-for="ORDERS.RENTAL_DATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ORDERS.RETURN_DATE" class="control-label"></label>
                <input asp-for="ORDERS.RETURN_DATE" class="form-control" />
                <span asp-validation-for="ORDERS.RETURN_DATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ORDERS.MOVIE_ID" class="control-label"></label>
                <select asp-for="ORDERS.MOVIE_ID" class="form-control" asp-items="ViewBag.MOVIE_ID"></select>
                <span asp-validation-for="ORDERS.MOVIE_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ORDERS.NET_AMOUNT" class="control-label"></label>
                <input asp-for="ORDERS.NET_AMOUNT" class="form-control" />
                <span asp-validation-for="ORDERS.NET_AMOUNT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ORDERS.DISCOUNT" class="control-label"></label>
                <input asp-for="ORDERS.DISCOUNT" class="form-control" />
                <span asp-validation-for="ORDERS.DISCOUNT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ORDERS.GROSS_AMOUNT" class="control-label"></label>
                <input asp-for="ORDERS.GROSS_AMOUNT" class="form-control" />
                <span asp-validation-for="ORDERS.GROSS_AMOUNT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List of Orders</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
